<f:form action="new" class="form-horizontal t3-expose-form">
	<fieldset class="t3-expose-page">
		<fieldset id="form-all.objects.0" class="t3-expose-section">
			<div class="form-group t3-expose-form-group">
				<label for="form-objects_0_name" class="col-sd-2 col-md-2 control-label t3-expose-control-label">
					Firmenname
				</label>
				<div class="col-md-10 col-sd-10 t3-expose-form-controls">
					<input class="form-control input-sm" id="form-objects_0_name" type="text" name="--form[objects][0][name]">
				</div>
			</div>
		</fieldset>
	</fieldset>
   <div class="form-actions typo3-expose-form-actions">
		<nav class="form-navigation">
			<ul>
				<li class="next submit">
					<button class="btn btn-primary" type="submit" name="--form[__currentPage]" value="1">
						Absenden
					</button>
				</li>
			</ul>
		</nav>
   </div>
</f:form>