{namespace b=Famelo\Bootstrap\ViewHelpers}
<f:form name="login" action="authenticate" method="post" class="login-box">
	<input type="hidden" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][provider]" value="SaasProvider" />
	<fieldset>

		<div class="form-group">
	    	<input type="text" id="username" type="text" placeholder="Username" class="form-control" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]" additionalAttributes="{autofocus: 'autofocus'}" value="{username}" />
		</div>
		<div class="form-group">
			<input type="password" id="password" type="password" placeholder="Password" class="form-control" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]" />
	  	</div>
		<div class="neos-actions">
			<!-- Forgot password link will be here -->
			<f:form.button type="submit" class="pull-right">
				Login
			</f:form.button>
			<b:flashMessages />
		</div>
	</fieldset>
</f:form>