{namespace b=Famelo\Bootstrap\ViewHelpers}
<f:form name="login" action="authenticate" method="post" class="login-box">
	<input type="hidden" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][provider]" value="SaasProvider" />
	<fieldset>
		<div class="form-group">
			<label>{f:translate(value: 'Username')}</label>
	    	<input type="text" id="username" type="text" placeholder="{f:translate(value: 'Username')}" class="form-control" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]" additionalAttributes="{autofocus: 'autofocus'}" value="{username}" />
		</div>
		<div class="form-group">
			<label>{f:translate(value: 'Password')}</label>
			<input type="password" id="password" type="password" placeholder="{f:translate(value: 'Password')}" class="form-control" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]" />
	  	</div>
		<div class="neos-actions">
			<f:link.action action="newPassword">{f:translate(value: 'Forgotten your password?')}</f:link.action>
			<f:form.button type="submit" class="pull-right">
				<f:translate>Login</f:translate>
			</f:form.button>
			<b:flashMessages />
		</div>
	</fieldset>
</f:form>