{namespace b=Famelo\Bootstrap\ViewHelpers}
<f:form name="login" action="sendConfirmation" method="post" class="login-box">
	<f:translate>Enter the e-mail address associated with your account, then click Continue. We'll email you a link to a page where you can easily create a new password.</f:translate>
	<fieldset>
		<div class="form-group">
			<label>{f:translate(value: 'E-Mail')}</label>
	    	<f:form.textfield name="email" class="form-control"/>
		</div>
		<div class="neos-actions">
			<f:form.button type="submit" class="pull-right">
				<f:translate>continue</f:translate>
			</f:form.button>
			<b:flashMessages />
		</div>
	</fieldset>
</f:form>