{namespace b=Famelo\Bootstrap\ViewHelpers}
<f:form name="resetPassword" action="resetPassword" method="post" class="login-box">
	<f:translate>Please enter a new password for your account</f:translate>
	<f:form.hidden name="token" value="{token}" />
	<fieldset>
		<div class="form-group">
			<label>{f:translate(value: 'Password')}</label>
	    	<f:form.password name="password" class="form-control"/>
		</div>
		<div class="form-group">
			<label>{f:translate(value: 'Confirmation')}</label>
	    	<f:form.password name="confirmation" class="form-control"/>
		</div>
		<div class="form-group">
			<f:if condition="{not-matching}"><div class="alert alert-danger"><f:translate>The passwords do not match.</f:translate></div></f:if>
		</div>
		<div class="neos-actions">
			<f:form.button type="submit" class="pull-right">
				<f:translate>Save</f:translate>
			</f:form.button>
			<b:flashMessages />
		</div>
	</fieldset>
</f:form>