<table class="table table-striped t3-expose-table">
	<thead>
		<tr>
			
				
					
						<th>
							Creditor
						</th>
					
				
					
						<th>
							Debtor
						</th>
					
				
					
				
					
						<th>
							Referenz
						</th>
					
				
					
						<th>
							Currency
						</th>
					
				
					
						<th>
							Amount
						</th>
					
				
					
						<th>
							Due date
						</th>
					
				
					
				
					
				
					
				
					
				
					
				
			
			<th>
			</th>
		</tr>
	</thead>
	<tbody>
		


<!-- List/Row.html -->

	<tr data-klove="row">
		
			
				<td>
					
						randy
					
				</td>
			
		
			
				<td>
					
						tonis
					
				</td>
			
		
			
		
			
				<td>
					
						1337
					
				</td>
			
		
			
				<td>
					
						EUR
					
				</td>
			
		
			
				<td>
					
						250
					
				</td>
			
		
			
				<td>
					
						25.02.2014
					
				</td>
			
		
			
		
			
		
			
		
			
		
			
		
		<td class="table-actions">
			<div data-area="localControllerLinks">
<a class="btn btn-default" href="http://broensfin.flow/mein-konto/meine-transaktionen.html?--typo3_neos_expose-plugin%5B%40package%5D=famelo.broensfin&amp;--typo3_neos_expose-plugin%5B%40controller%5D=claim%5Cdetail&amp;--typo3_neos_expose-plugin%5B%40action%5D=index&amp;--typo3_neos_expose-plugin%5Bobjects%5D%5B0%5D%5B__identity%5D=750ca2bb-69a0-d1f4-c4b5-001a46b02efc&amp;--typo3_neos_expose-plugin%5Btype%5D=Famelo%5CBroensfin%5CDomain%5CModel%5CClaim&amp;--typo3_neos_expose-plugin%5B%40subpackage%5D=">
	<i class="fa fa-eye"></i><span class="js" data-type="handlebars" style="display:none;">{{#if multipleSelectionActive}} {{numberOfSelectedElements}} elements{{/if}}</span>
</a>
<a class="btn btn-default" href="http://broensfin.flow/mein-konto/meine-transaktionen.html?--typo3_neos_expose-plugin%5B%40package%5D=typo3.expose&amp;--typo3_neos_expose-plugin%5B%40controller%5D=edit&amp;--typo3_neos_expose-plugin%5B%40action%5D=index&amp;--typo3_neos_expose-plugin%5Bobjects%5D%5B0%5D%5B__identity%5D=750ca2bb-69a0-d1f4-c4b5-001a46b02efc&amp;--typo3_neos_expose-plugin%5Btype%5D=Famelo%5CBroensfin%5CDomain%5CModel%5CClaim&amp;--typo3_neos_expose-plugin%5B%40subpackage%5D=">
	<i class="fa fa-pencil"></i><span class="js" data-type="handlebars" style="display:none;">{{#if multipleSelectionActive}} {{numberOfSelectedElements}} elements{{/if}}</span>
</a>
<a class="btn btn-default" href="http://broensfin.flow/mein-konto/meine-transaktionen.html?--typo3_neos_expose-plugin%5B%40package%5D=typo3.expose&amp;--typo3_neos_expose-plugin%5B%40controller%5D=delete&amp;--typo3_neos_expose-plugin%5B%40action%5D=index&amp;--typo3_neos_expose-plugin%5Bobjects%5D%5B0%5D%5B__identity%5D=750ca2bb-69a0-d1f4-c4b5-001a46b02efc&amp;--typo3_neos_expose-plugin%5Btype%5D=Famelo%5CBroensfin%5CDomain%5CModel%5CClaim&amp;--typo3_neos_expose-plugin%5B%40subpackage%5D=">
	<i class="fa fa-trash-o"></i><span class="js" data-type="handlebars" style="display:none;">{{#if multipleSelectionActive}} {{numberOfSelectedElements}} elements{{/if}}</span>
</a></div>
		</td>
	</tr>



<!-- List/Row.html -->

	<tr data-klove="row">
		
			
				<td>
					
						randy
					
				</td>
			
		
			
				<td>
					
						randy
					
				</td>
			
		
			
		
			
				<td>
					
						1338
					
				</td>
			
		
			
				<td>
					
						EUR
					
				</td>
			
		
			
				<td>
					
						1223
					
				</td>
			
		
			
				<td>
					
						27.03.2014
					
				</td>
			
		
			
		
			
		
			
		
			
		
			
		
		<td class="table-actions">
			<div data-area="localControllerLinks">
<a class="btn btn-default" href="http://broensfin.flow/mein-konto/meine-transaktionen.html?--typo3_neos_expose-plugin%5B%40package%5D=famelo.broensfin&amp;--typo3_neos_expose-plugin%5B%40controller%5D=claim%5Cdetail&amp;--typo3_neos_expose-plugin%5B%40action%5D=index&amp;--typo3_neos_expose-plugin%5Bobjects%5D%5B0%5D%5B__identity%5D=ae3cc015-d8f0-3452-a1cc-1ab9f2798612&amp;--typo3_neos_expose-plugin%5Btype%5D=Famelo%5CBroensfin%5CDomain%5CModel%5CClaim&amp;--typo3_neos_expose-plugin%5B%40subpackage%5D=">
	<i class="fa fa-eye"></i><span class="js" data-type="handlebars" style="display:none;">{{#if multipleSelectionActive}} {{numberOfSelectedElements}} elements{{/if}}</span>
</a>
<a class="btn btn-default" href="http://broensfin.flow/mein-konto/meine-transaktionen.html?--typo3_neos_expose-plugin%5B%40package%5D=typo3.expose&amp;--typo3_neos_expose-plugin%5B%40controller%5D=edit&amp;--typo3_neos_expose-plugin%5B%40action%5D=index&amp;--typo3_neos_expose-plugin%5Bobjects%5D%5B0%5D%5B__identity%5D=ae3cc015-d8f0-3452-a1cc-1ab9f2798612&amp;--typo3_neos_expose-plugin%5Btype%5D=Famelo%5CBroensfin%5CDomain%5CModel%5CClaim&amp;--typo3_neos_expose-plugin%5B%40subpackage%5D=">
	<i class="fa fa-pencil"></i><span class="js" data-type="handlebars" style="display:none;">{{#if multipleSelectionActive}} {{numberOfSelectedElements}} elements{{/if}}</span>
</a>
<a class="btn btn-default" href="http://broensfin.flow/mein-konto/meine-transaktionen.html?--typo3_neos_expose-plugin%5B%40package%5D=typo3.expose&amp;--typo3_neos_expose-plugin%5B%40controller%5D=delete&amp;--typo3_neos_expose-plugin%5B%40action%5D=index&amp;--typo3_neos_expose-plugin%5Bobjects%5D%5B0%5D%5B__identity%5D=ae3cc015-d8f0-3452-a1cc-1ab9f2798612&amp;--typo3_neos_expose-plugin%5Btype%5D=Famelo%5CBroensfin%5CDomain%5CModel%5CClaim&amp;--typo3_neos_expose-plugin%5B%40subpackage%5D=">
	<i class="fa fa-trash-o"></i><span class="js" data-type="handlebars" style="display:none;">{{#if multipleSelectionActive}} {{numberOfSelectedElements}} elements{{/if}}</span>
</a></div>
		</td>
	</tr>



<!-- List/Row.html -->

	<tr data-klove="row">
		
			
				<td>
					
						randy
					
				</td>
			
		
			
				<td>
					
						randy
					
				</td>
			
		
			
		
			
				<td>
					
						randys claim
					
				</td>
			
		
			
				<td>
					
						EUR
					
				</td>
			
		
			
				<td>
					
						333333
					
				</td>
			
		
			
				<td>
					
						19.05.2014
					
				</td>
			
		
			
		
			
		
			
		
			
		
			
		
		<td class="table-actions">
			<div data-area="localControllerLinks">
<a class="btn btn-default" href="http://broensfin.flow/mein-konto/meine-transaktionen.html?--typo3_neos_expose-plugin%5B%40package%5D=famelo.broensfin&amp;--typo3_neos_expose-plugin%5B%40controller%5D=claim%5Cdetail&amp;--typo3_neos_expose-plugin%5B%40action%5D=index&amp;--typo3_neos_expose-plugin%5Bobjects%5D%5B0%5D%5B__identity%5D=d57d6b2c-c54e-cdc7-8410-938416550afe&amp;--typo3_neos_expose-plugin%5Btype%5D=Famelo%5CBroensfin%5CDomain%5CModel%5CClaim&amp;--typo3_neos_expose-plugin%5B%40subpackage%5D=">
	<i class="fa fa-eye"></i><span class="js" data-type="handlebars" style="display:none;">{{#if multipleSelectionActive}} {{numberOfSelectedElements}} elements{{/if}}</span>
</a>
<a class="btn btn-default" href="http://broensfin.flow/mein-konto/meine-transaktionen.html?--typo3_neos_expose-plugin%5B%40package%5D=typo3.expose&amp;--typo3_neos_expose-plugin%5B%40controller%5D=edit&amp;--typo3_neos_expose-plugin%5B%40action%5D=index&amp;--typo3_neos_expose-plugin%5Bobjects%5D%5B0%5D%5B__identity%5D=d57d6b2c-c54e-cdc7-8410-938416550afe&amp;--typo3_neos_expose-plugin%5Btype%5D=Famelo%5CBroensfin%5CDomain%5CModel%5CClaim&amp;--typo3_neos_expose-plugin%5B%40subpackage%5D=">
	<i class="fa fa-pencil"></i><span class="js" data-type="handlebars" style="display:none;">{{#if multipleSelectionActive}} {{numberOfSelectedElements}} elements{{/if}}</span>
</a>
<a class="btn btn-default" href="http://broensfin.flow/mein-konto/meine-transaktionen.html?--typo3_neos_expose-plugin%5B%40package%5D=typo3.expose&amp;--typo3_neos_expose-plugin%5B%40controller%5D=delete&amp;--typo3_neos_expose-plugin%5B%40action%5D=index&amp;--typo3_neos_expose-plugin%5Bobjects%5D%5B0%5D%5B__identity%5D=d57d6b2c-c54e-cdc7-8410-938416550afe&amp;--typo3_neos_expose-plugin%5Btype%5D=Famelo%5CBroensfin%5CDomain%5CModel%5CClaim&amp;--typo3_neos_expose-plugin%5B%40subpackage%5D=">
	<i class="fa fa-trash-o"></i><span class="js" data-type="handlebars" style="display:none;">{{#if multipleSelectionActive}} {{numberOfSelectedElements}} elements{{/if}}</span>
</a></div>
		</td>
	</tr>

	</tbody>
</table>