{namespace s=Famelo\Saas\ViewHelpers}
{namespace c=Famelo\Common\ViewHelpers}

<f:flashMessages />
<h3>Dashboard</h3>
	<dl class="dl-horizontal">
			<dt>Plan</dt>
			<dd>
				<f:if condition="{transactionService.subscription}">
					<f:then>{transactionService.subscription}</f:then>
					<f:else>No Subscription</f:else>
				</f:if>
			</dd>

			<dt>Balance</dt>
			<dd>{transactionService.balance -> s:format.currency()}</dd>

			<dt>Points</dt>
			<dd>{transactionService.balance -> s:format.points()}</dd>
	</dl>

<h3>History</h3>
<c:query.paginate objects="{transactionService.transactions}" as="transactions">
	<table class="table table-bordered table-striped">
		<f:for each="{transactions}" as="transaction">
			<tr>
				<td>{transaction.created -> f:format.date(forceLocale: true)}</td>
				<td>{transaction.amount -> s:format.points()} ({transaction.amount -> s:format.currency()})</td>
				<td>{transaction.note}</td>
				<td>
					<f:if condition="{transaction.invoiceNumber}">
						<f:link.action action="index" controller="Invoice" package="Famelo.Saas" arguments="{transaction: transaction}">
							Invoice
						</f:link.action>
					</f:if>
				</td>
			</tr>
		</f:for>
	</table>
	<f:render partial="Pagination" arguments="{action: 'index', pagination: pagination}" />
</c:query.paginate>